.header{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    gap:47vw;
    /* justify-content: space-between; */
    margin-left:16vw;
    margin-right:-2vw;
    box-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.167);
    margin-bottom:4vh;
}

.header h3{
    font-size: 0.94vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:2vw;
}

.header button{
    background-color: #E53E3E;
    color:white;
    border-radius: 0.42vw;
    font-size: 0.625vw;
    width:10%;
    height:5vh;
    margin-top:3vh;
    border: 0;
    margin-right:3vw;
    cursor: pointer;
}