.header{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    gap:47vw;
    /* justify-content: space-between; */
    margin-left:16vw;
    margin-right:-2vw;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.167);
    margin-bottom:4vh;
}

.header h3{
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:2vw;
}

.header button{
    background-color: #E53E3E;
    color:white;
    border-radius:8px;
    font-size: 12px;
    width:10%;
    height:5vh;
    margin-top:3vh;
    border: 0px;
    margin-right:3vw;
    cursor: pointer;
}