

.categories-container {
    line-height: 1.5vh;
}

.categories-container h3 {
    font-size: 25px;
    margin-left: 2vw;
}

.categories-container p {
    font-size: small;
    color: #878787;
    margin-left: 2vw;
}

.search-container {
    margin-top: 4vh;
    margin-left: 2vw;
}

.search-container input {
    border-radius: 5px;
    width: 70vw;
    height: 6.5vh;
    border: 1px solid #878787;
}

.categories-body {
    position: relative;
    margin-left: 6vw;
    left: -4vw;
    top: 2vh;
    border-radius: 8px;
    /* width: 70vw; */
    width:70vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px
}

.categories-cards {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
    display:grid;
    grid-template-columns: 1.1fr 1.5fr 0.9fr 0.9fr 0.5fr;
    row-gap:5vh;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.15),
        2px 0 2px rgba(0, 0, 0, 0.15),
        0 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    /* position: relative; */
}

.categories-card {
    
    list-style-type: none;
    display:contents;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    /* gap: 1vw; */
    height:5vh;
    position: relative;
    /* display:grid;
    grid-template-columns:0.5fr,1.2fr,2.5fr,1.8fr,1.2fr;
    align-items: center; */
    /* top:2vh; */
    /* justify-content: space-evenly; */

}
.categories-card li{
    position: relative;
    /* width:15vw */
}

.categories-cards li{
    margin-left:-1vw;
}

.categories-header{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
}

.categories-header button{
    background-color: #2D3748;
    width:10vw;
    height:3vw;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:white
}

.popup-box{
    background-color: white;
    columns: black;
    border-radius: 2vh;
    border: 1px solid black;
    width: 45vw;
    height: 55vh;
    font-size:14px
}

.popup-box input{
    width:28vw;
    height:4vh;
    border-radius:5px;
    border: 1px solid #878787;
}