

.categories-container {
    line-height: 1.5vh;
}

.categories-container h3 {
    font-size: 1.3vw;
    margin-left: 2vw;
}

.categories-container p {
    font-size: small;
    color: #878787;
    margin-left: 2vw;
}

.search-container {
    margin-top: 4vh;
    margin-left: 2vw;
}

.search-container input {
    border-radius: 0.26vw;
    width: 70vw;
    height: 6.5vh;
    border: 0.052vw solid #878787;
}

.categories-body {
    position: relative;
    margin-left: 6vw;
    left: -4vw;
    top: 2vh;
    border-radius: 0.42vw;
    /* width: 70vw; */
    width:70vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.625vw
}

.categories-cards {
    display:grid;
    grid-template-columns: 0.3fr 0.9fr 2.2fr 0.5fr;
    row-gap:5vh;
    box-shadow: -0.1vw 0 0.1vw rgba(0, 0, 0, 0.15),
        0.1vw 0 0.1vw rgba(0, 0, 0, 0.15),
        0 0.1vw 0.1vw rgba(0, 0, 0, 0.15);
    border-radius: 0.42vw;
}

.categories-card {
    
    list-style-type: none;
    display:contents;
    height:5vh;
    position: relative;
    font-size:2vh

}
.categories-card li{
    position: relative;

}

.categories-cards li{
    margin-left:-1vw;
}

.categories-header{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
}

.categories-header button{
    background-color: #2D3748;
    width:10vw;
    height:3vw;
    border-radius: 0.42vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.625vw;
    color:white
}

.popup-box{
    background-color: white;
    columns: black;
    border-radius: 2vh;
    border: 0.052vw solid black;
    width: 45vw;
    height: 55vh;
}