.dashboard-container h3 {
    font-size: 1.3vw;
    margin-left: 2vw;
}

.dashboard-container p {
    font-size: small;
    color: #878787;
    margin-left: 2vw;
}

.stat-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3vw;
}

.card {
    height: 25vh;
    width: 17.5vw;
    box-shadow: 0.1vw 0 0.1vw rgba(0, 0, 0, 0.15),
        -0.1vw 0 0.1vw rgba(0, 0, 0, 0.15),
        0 0.1vw 0.1vw rgba(0, 0, 0, 0.15);
    border-radius: 0.42vw;
}

.recent-cards {
    margin-top: 4vh;
    width: 38vw;
    box-shadow: 0.1vw 0 0.1vw rgba(0, 0, 0, 0.15),
        -0.1vw 0 0.1vw rgba(0, 0, 0, 0.15),
        0 0.1vw 0.1vw rgba(0, 0, 0, 0.15);
    border-radius: 0.42vw;
}

.recent-card {
    width: 35vw;
    height: 13vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

.recent-card div {
    margin-top: 5vh;
}

.recent-card ul {
    list-style-type: none;
}

.quick-stats-cards {
    margin-top: 4vh;
    width: 38vw;
    box-shadow: 0.1vw 0 0.1vw rgba(0, 0, 0, 0.15),
        -0.1vw 0 0.1vw rgba(0, 0, 0, 0.15),
        0 0.1vw 0.1vw rgba(0, 0, 0, 0.15);
    border-radius: 0.42vw;
}

.quick-stats-card {
    width: 35vw;
    height: 13vh;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

.quick-stats-card ul{
    list-style-type:none;
}

.quick-stats-card div{
    margin-top:3vh;
}