body{
    overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: white;}


/* or:
   deeppurple-amber.css
   purple-green.css
   pink-bluegrey.css
*/
